server/node_red.txt
[{"id":"f0e44ae3.2ee2e","type":"mongodb","hostname":"winter.ceit.uq.edu.au","port":"27017","db":"test","name":""},{"id":"aba42f7b.7a9a38","type":"mqtt-broker","broker":"winter.ceit.uq.edu.au","port":"1883","clientid":""},{"id":"446b52b3.4154dc","type":"mqtt out","name":"JSON","topic":"/beacons/json","broker":"aba42f7b.7a9a38","x":965.2856903076172,"y":446.71424198150635,"z":"1f998612.94fa62","wires":[]},{"id":"ec4538e3.7f30e8","type":"mqtt in","name":"All BLE Broadcasts","topic":"/beacons/base/#","broker":"aba42f7b.7a9a38","x":383,"y":310,"z":"1f998612.94fa62","wires":[["91370394.856e78","a5cfb6d8.a393f8"]]},{"id":"91370394.856e78","type":"debug","name":"","active":false,"console":false,"complete":false,"x":577,"y":160,"z":"1f998612.94fa62","wires":[]},{"id":"60dc49b8.d70f8","type":"function","name":"to json","func":"var msgs = msg.payload;\nvar bdaddr = msgs.substring(msgs.indexOf(\"bdaddr\")+7);\nbdaddr = bdaddr.substring(0, bdaddr.indexOf(\"(\")-1);\n\nif (bdaddr.length < 5) {\n    return;\n}\n\nvar rssi = msgs.substring(msgs.indexOf(\"RSSI: \")+6);\n\nvar baseNum = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\n\nvar magnetometer = msgs.substring(msgs.indexOf(\"Flags: 0xbb\")+12);\nmagnetometer = magnetometer.substring(0, 29);\n\nvar accel = msgs.substring(msgs.indexOf(\"Flags: 0xcc\")+12);\naccel = accel.substring(0, 14);\n\nmsg.payload = '{\"baseId\":' + baseNum + ', \"time\":' + Date.now() + ', \"bdaddr\":\"' + bdaddr + '\", \"rssi\":' + rssi + ', \"magnet\":\"' +magnetometer + '\", \"accel\":\"' + accel + '\"}';\nreturn msg;\n","outputs":1,"x":719,"y":306,"z":"1f998612.94fa62","wires":[["23aaea1d.7a09c6","446b52b3.4154dc","e5b59556.3f91b8"]]},{"id":"23aaea1d.7a09c6","type":"debug","name":"","active":false,"console":false,"complete":false,"x":959,"y":344,"z":"1f998612.94fa62","wires":[]},{"id":"3e42814c.bcf566","type":"mongodb out","mongodb":"f0e44ae3.2ee2e","name":"Winter Mongo Storage","collection":"beacon_json","payonly":false,"operation":"store","x":1167,"y":587,"z":"1f998612.94fa62","wires":[]},{"id":"e5b59556.3f91b8","type":"function","name":"MongoFormat","func":"var json = JSON.parse(msg.payload);\nmsg.baseId = json.baseId;\nmsg.rssi = json.rssi;\nmsg.time = json.time;\nmsg.bdaddr = json.bdaddr;\nmsg.accel = json.accel;\nmsg.magnet = json.magnet;\nmsg.payload = \"ignoreme\";\ndelete msg[\"retain\"];\ndelete msg[\"topic\"];\ndelete msg[\"qos\"];\nreturn msg;","outputs":1,"x":949,"y":588,"z":"1f998612.94fa62","wires":[["3e42814c.bcf566","e0bdfef9.7a2bb"]]},{"id":"f8b9d72.281dda8","type":"function","name":"Averaging","func":"//array of the different beacons seen.\ncontext.avgDict = context.avgDict || {};\n\n\n//for each beacon, have an array of bluetooth addresses\nif (!(msg.bdAddr in context.avgDict)) {\n\tcontext.avgDict[msg.bdAddr] = []\n}\n\n//add new rssi to end of array. If more than 10 elems, remove last\nif (context.avgDict[msg.bdAddr].push(parseInt(msg.rssi)) > 10) {\n  context.avgDict[msg.bdAddr].shift();\n}\n  \nvar sum = 0;\n//now calc the avg\nfor (var x = 0; x < context.avgDict[msg.bdAddr].length; x++) {\n sum =  sum + context.avgDict[msg.bdAddr][x];\n}\naverageRssi = sum / context.avgDict[msg.bdAddr].length;\n  \nmsg.payload = averageRssi;\nreturn msg;\n","outputs":1,"x":1292,"y":650,"z":"1f998612.94fa62","wires":[["b98569c2.24a0c"]]},{"id":"b98569c2.24a0c","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1449,"y":648,"z":"1f998612.94fa62","wires":[]},{"id":"e0bdfef9.7a2bb","type":"function","name":"B4:99 only","func":"if (msg.bdaddr.indexOf(\"BC:6A\") > -1) {\n\tmsg.payload = msg.rssi;\n  return msg;\n}\nreturn null;","outputs":1,"x":1097,"y":652,"z":"1f998612.94fa62","wires":[["f8b9d72.281dda8","fb2d5c41.4f78c8"]]},{"id":"60ceb01a.4adcb8","type":"mongodb in","mongodb":"f0e44ae3.2ee2e","name":"Winter Mongo","collection":"beacon_json","x":639,"y":786,"z":"1f998612.94fa62","wires":[["caea7478.271758","c338699a.b37a28"]]},{"id":"fb2d5c41.4f78c8","type":"debug","name":"","active":false,"console":false,"complete":false,"x":1301,"y":702,"z":"1f998612.94fa62","wires":[]},{"id":"b005bb89.dbb49","type":"mqtt in","name":"1 Sec Processing","topic":"/beacons/1sec","broker":"aba42f7b.7a9a38","x":317,"y":790,"z":"1f998612.94fa62","wires":[["469fef0d.c804e"]]},{"id":"469fef0d.c804e","type":"function","name":"","func":"var date = Date.now();\n\n//var query = \"{ time: { $gt: \" + (Date.now() - 10000) + \"}}\";\n\n\nvar name = msg.topic.split('/');\n\nvar query = {};\n\n//query.time = 1413523975845;\n//msg.payload = query;\n\nmsg.payload = {time : {$gt: Date.now() - 10000}};\n\n\nreturn msg;","outputs":1,"x":475,"y":788,"z":"1f998612.94fa62","wires":[["60ceb01a.4adcb8"]]},{"id":"b9944780.50b3b8","type":"function","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":851,"y":745,"z":"1f998612.94fa62","wires":[[]]},{"id":"caea7478.271758","type":"debug","name":"","active":true,"console":false,"complete":false,"x":1017,"y":844,"z":"1f998612.94fa62","wires":[]},{"id":"a5cfb6d8.a393f8","type":"function","name":"MyDevices","func":"if (msg.payload.indexOf(\"Flags: 0xbb\") > -1) {\n  return msg;\n}\nreturn null;","outputs":1,"x":571,"y":354,"z":"1f998612.94fa62","wires":[["60dc49b8.d70f8"]]},{"id":"c338699a.b37a28","type":"mqtt out","name":"From DB","topic":"/beacons/fromdb","broker":"aba42f7b.7a9a38","x":1026.25,"y":915,"z":"1f998612.94fa62","wires":[]}]